@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary-color: #fca311;
    --dark-color: #14213d; 
    --light-color: #f4f4f4;
    --lose-color: #dc3545;
    --win-color: #28a733;
    
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #ffffff;
    color: #333;
}

.container {
    max-width: 1100px;
    min-height: 30rem;
    margin: auto;
    overflow: hidden; 
    padding: 0.5rem 2rem;
    text-align: center; 
    background: #e5e5e5;;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 40vh; */
}

.containerMain h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-top: 3rem;
}

.restart-btn {
    display:none;
    background: var(--light-color);
    color: #333;
    padding: 0.6rem 1.7rem;
    font-size: 1rem;
    cursor:pointer;
    outline:none;
    border:none;
    margin-top:5rem;
    margin-bottom: 4rem;
    border-radius: 10px;
}

.restart-btn:hover {
    background: var(--primary-color);
    color:#fff;
}

.header {
    text-align: center;
    margin: 1rem 0;
}

.header h1 {
    margin-bottom: 1rem;
}

.score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    font-size: 1.2rem;
    color:#fff;
    grid-gap: 1rem;
}

.score p:first-child {
    background: var(--primary-color);
    padding:10px;
    border-radius: 10px;

}

.score p:last-child {
    background: var(--dark-color);
    padding:10px;
    border-radius: 10px;
    text-align: center;
}

.choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
    justify-content: center;
}

.choice {
    cursor: pointer
}

.choice:hover {
    color: var(--primary-color)
}

.text-win {
    color: var(--win-color)
}

.text-lose {
    color: var(--lose-color)
}

.text-tie {
    color: var(--primary-color)
}


@media(max-width: 700px) {
    .choice {
        font-size: 110px;
    }
}

@media(max-width: 500px) {
    .choice {
        font-size: 80px;
    }
}